<div id="main_navigation" role="navigation">
  <div class="logo"><a href="/">Animus</a></div>

        <%= link_to "About", "#", class: "main-link" %>
        <%= link_to "Benefits", '#', class: "main-link" %>
        <%= link_to "Contact", '#', class: "main-link" %>

    <% if user_signed_in? %>
      <%= link_to destroy_user_session_path, class: "main-sign-out", method: :delete do %>
        <i class="fa fa-sign-out"></i><br>
        Sign Out
      <% end %>
      <% else %>
        <%= link_to new_user_session_path, class: "main-link main-sign-out" do %>
        <i class="fa fa-sign-in"></i><br>
        Sign In
        <% end %>
    <% end %>
</div>

<div id="nav-trigger">
    <span>Menu</span>
</div>
<nav id="nav-mobile"></nav>

<script>
$(document).ready(function(){
  $("#nav-mobile").html($("#nav-main").html());
  $("#nav-trigger span").click(function(){
      if ($("nav#nav-mobile ul").hasClass("expanded")) {
          $("nav#nav-mobile ul.expanded").removeClass("expanded").slideUp(250);
          $(this).removeClass("open");
      } else {
          $("nav#nav-mobile ul").addClass("expanded").slideDown(250);
          $(this).addClass("open");
      }
  });
});
</script>
