<div id="sidebar_navigation" role="navigation">
  <%= image_tag("animus_logo.png",alt: "Animus Logo", class: "logo") %>

    <%= link_to dashboard_index_path, class: "link" do %>
      <i class="fa fa-globe"></i><br>
      Overview <br>
    <% end %>
    <%= link_to "#", class: "link" do %>
      <i class="fa fa-music"></i><br>
      Music <br>
    <% end %>
    <%= link_to "#", class: "link" do %>
      <i class="fa fa-bars"></i><br>
      Leaderboard <br>
    <% end %>
    <%= link_to "#", class: "link" do %>
      <i class="fa fa-wrench"></i><br>
      Tools <br>
    <% end %>
    <%= link_to "#", class: "link" do %>
      <i class="fa fa-users"></i><br>
      Prospects <br>
    <% end %>
    <%= link_to "#", class: "link" do %>
      <i class="fa fa-line-chart"></i><br>
      Analytics <br>
    <% end %>
    <%= link_to "#", class: "link revenue" do %>
      <i class="fa fa-usd"></i><br>
      Revenue <br>
    <% end %>

    <% if user_signed_in? %>
      <%= link_to edit_user_registration_path, class: "link account-settings" do %>
        <i class="fa fa-cogs"></i>
        Account Settings
      <% end %>
      <%= link_to destroy_user_session_path, class: "link sign-out", method: :delete do %>
        <i class="fa fa-sign-out"></i><br>
        Sign Out
      <% end %>
      <% else %>
        <%= link_to new_user_session_path, class: "link sign-out" do %>
        <i class="fa fa-sign-in"></i><br>
        Sign In
        <% end %>
    <% end %>
</div>
