<!DOCTYPE html>
<html>
<head>
  <title>Animus</title>
  <script src="//use.typekit.net/fmj8nhe.js"></script>
  <script>try{Typekit.load();}catch(e){}</script>
  <script type="text/javascript" src="https://www.google.com/jsapi"></script>
  <script type="text/javascript" src="https://apis.google.com/js/client.js?onload=onJSClientLoad"></script>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= csrf_meta_tags %>
</head>
<body>

  <%= render 'layouts/sidebar' %>

  <div class="container">
    <div id="flash">
      <% flash.each do |name, msg| %>
       <%= content_tag(:div, msg, class: "alert alert-info #{name}") %>
      <% end %>
    </div>

    <%= yield %>
  </div>

<script type="text/javascript">
  $(document).ready(function(){
    setTimeout(function(){
      $('#flash').fadeOut();
    }, 1000);
   })
</script>

</body>
</html>
